* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1, h3 {
    color: #333;
}

.user-list {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin: 0 auto;
    padding: 18px;
}

.user-list p {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;

}

.user-list p:hover {
    background-color: #e0e0e0;
}

.post-info {
    margin-top: 20px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post h3 {
    color: #333;
}

.post p {
    color: #666;
}

.user-list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #7a7a7a;
    padding: 8px;
    border-radius: 5px;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.user-list li span.name {
    font-weight: bold;
    margin-right: 8px;
}

.user-list li span.email {
    color: #555;
}

